.body{
    overflow-x: hidden;
    background-color: #907B60;
}

.section1{
    background-color: #1F201A;
    width: 100vw;
    height: 48vw;
}

.roulette{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
cursor: pointer;
}

.roulettee{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    width: 45%;
    transition: transform 0.5s
}

#pointer{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    width: 100vw;
}

#pointer img{
    position: absolute;
    display: flex;
    justify-content: center;
}

.vremeno{
    background: #E9DAC7;
    position: absolute;
    width: 32vw;
    height: 6vw;
    font-size: 4vw;
}

.vremeno p{
    margin-top: 1vw;
    margin-left: 1vw;
}

.vremya{
    background: #CB0000;
    position: absolute;
    width: 25vw;
    height: 6vw;
    font-size: 4vw;
    margin-top: 31vw;
    margin-left: 75vw;
}

.vremya p{
    margin-top: 1vw;
    margin-left: 1vw;
}

.precious{
    background: #E9DAC7;
    position: absolute;
    width: 30vw;
    height: 6vw;
    font-size: 4vw;
    margin-top: 38vw;
    margin-left: 70vw;
}

.precious p{
    margin-top: 1vw;
    margin-left: 1vw;
}


.chervi1{
    position:absolute;
    width: 30%;
    margin-left: 60vw;
    margin-top: -9vw;
    transform: rotate(-94.6deg);
}

.chervi1 img{
    width: 23%;
}

.trefi1{
    position:absolute;
    width: 30%;
    margin-left: 85vw;
    margin-top: 4vw;
    transform: rotate(-15.42deg);
}

.trefi1 img{
    width: 23%;
}

.bubi1{
    position:absolute;
    width: 30%;
    margin-left: 73vw;
    margin-top: 24vw;
    transform: rotate(45.21deg);
}

.bubi1 img{
    width: 23%;
}


.joker1{
    position:absolute;
    width: 30%;
    margin-left: 3vw;
    margin-top: 13vw;
    transform: rotate(-45.93deg);
}

.joker1 img{
    width: 23%;
}

.trefi2{
    position:absolute;
    width: 30%;
    margin-left: 9vw;
    margin-top: 24vw;
    transform: rotate(-58.03deg);
}

.trefi2 img{
    width: 23%;
}


.chervi2{
    position:absolute;
    width: 30%;
    margin-left: 11vw;
    margin-top: 18vw;
    transform: rotate(49.69deg);
}


.chervi2  img{
    width: 23%;
}

.section2{
    background-color: #907B60;
    width: 100vw;
    height: 32vw;
}

/*.billiard img{
    width: 60%;
    margin-top: 3vw;
    margin-left: 3vw;
}
*/

.billiard{
    display: flex;
    justify-content: flex-start;
}

.one{
    margin-top: 2vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #C0B6AD;
    border-radius: 50%;
}

.one:after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "I";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}


.eight{
    margin-top: 2vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #000000;
    border-radius: 50%;
}

.eight::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "8";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.thirteen{
    margin-top: 2vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #67543D;
    border-radius: 50%;
}

.thirteen::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "I3";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.two{
    margin-top: 2vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #0D1143;
    border-radius: 50%;
}

.two::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "2";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.fourteen{
    margin-top: 17vw;
    margin-left: -59vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #47422F;
    border-radius: 50%;
}

.fourteen::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 10vw;
    height: 10vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "I4";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.six{
    margin-top: 17vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #00483D;
    border-radius: 50%;
}

.six::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "6";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.eleven{
    margin-top: 17vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #CB0000;
    border-radius: 50%;
}

.eleven::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "II";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.nine{
    margin-top: 17vw;
    margin-left: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    background: #C0B6AD;
    border-radius: 50%;
}

.nine::after{
    bottom: 2vw;
    position:absolute;
    right: 1vw;
    width: 10vw;
    height: 10vw;
    background-color:#E9DAC7;
    border-radius: 50%;
    content: "9";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'FjallaOne-Regular';
}

.dices{
    width: 32vw;
    height: 32vw;
    margin-left: 68vw;
    margin-top: -28.6vw;
    background: black;
}



#dicebubi{
    width: 31%;
    margin-top: 2vw;
    margin-left: 2vw;
    transform: rotate(18.52deg);
    cursor: pointer;
}


#dicetrefi{
    width: 10%;
    margin-top: -11vw;
    position:absolute;
    margin-left: 19vw;
    transform: rotate(0deg);
    cursor: pointer;
}

#dicechervi{
    width: 31%;
    margin-top: 8vw;
    margin-left: 2vw;
    transform: rotate(8.4deg);
    cursor: pointer;
}


#dicepiki{
    width:10%;
    position:absolute;
    margin-top: -19.5vw;
    margin-left: 11vw;
    transform: rotate(-57.78deg);
    cursor: pointer;
}

#dicejoker{
    width: 10%;
    position:absolute;
    margin-top: -11vw;
    margin-left: 20vw;
    transform: rotate(-26.76deg);
    cursor: pointer;
}

.section4{
    width: 100vw;
    height: 48vw;
}

.spiral{
    width: 45vw;
    height: 48vw;
    background-color: #CB0000;
    overflow:hidden;
}

.spiral img{
    width: 150%;
    margin-top: -5vw;
    margin-left: -10vw;
}

#timer{
    width: 55vw;
    height: 20vw;
    margin-left: 45vw;
    margin-top: -48vw;
    font-size: 15vw;
    background-color: black;
}

#timerr{
    color: #CB0000;
    /*margin-top: 10vw;
    margin-left: 10vw*/
}

.luckyy{
    width: 55vw;
    height: 28vw;
    margin-left: 45vw;
    margin-top: 3vw;
    background-color: #907B60;
}

.luck img{
    width: 17%;
}

.lucky{
    margin-top: -3vw;
    position: relative;
}

#luck1{
  margin-left: 0vw;
    transform: rotate(35.99deg);
}
#luck2{
    margin-left: 0vw;
    transform: rotate(-35.99deg);
}

#luck3{
    margin-left: -1vw;
    transform: rotate(35.99deg);
}

#luck4{
    margin-left: 0vw;
    transform: rotate(-35.99deg);
}

#luck5{
    margin-left: -1vw;
    transform: rotate(35.99deg);
}



#luck6{
    margin-left: 0vw;
      transform: rotate(-35.99deg);
  }
  #luck7{
      margin-left: 0vw;
      transform: rotate(35.99deg);
  }
  
  #luck8{
      margin-left: -1vw;
      transform: rotate(-35.99deg);
  }
  
  #luck9{
      margin-left: 0vw;
      transform: rotate(35.99deg);
  }
  
  #luck10{
      margin-left: -1vw;
      transform: rotate(-35.99deg);
  }

  .grey{
    width: 100vw;
    height: 10vw;
    background-color:#1F201A;
  }

.bingo{
    width: 100vw;
    height: 30vw;
    background-color:#E9DAC7;
}